<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <!-- //Map API -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
  <!-- //Map API -->

</head>

<body class="alert">


<h1>The distance covered by victim is "<%=distance%>" meters </h1>
<div class="buttons">
<div class="map_button satellite" id="0">
satellite
</div>
<div class="map_button  terrain" id="1">
terrain
</div>
<div class="map_button  roadmap" id="2">
 roadmap
</div>
</div>

<div class="police_button" id="police_button">
 Get Distance
</div>

<h1 class="loco"></h1>
<!-- <h2 id>satellite</h2> -->
  <div id="map"></div>

<!-- ==================CSS======================== -->
  <style media="screen">
    #map {
      height: 80%;
      width: 80%;
      margin: 200px auto;
    }
.map_button {
  display: inline-block;
  width: 90px;
  height: 50px;
  background-color: blue;
  transition: all 0.3s ease 0s;
 cursor: pointer;
 outline: none;
}
.map_button:hover{

box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
color: #fff;
transform: translateY(-7px);
}
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .alert{
      background-color: white;
    }

    .police_button{
      display: inline-block;
      width: 90px;
      height: 50px;
      background-color: blue;
      transition: all 0.3s ease 0s;
     cursor: pointer;
     outline: none;
     margin-top: 60px;
    }

  </style>






  <!-- ==================================MAP JAVASCRIPT================================================================================================================ -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2ibBiDfKVNgRBjNIg23Sw7MeuJXQp2v4&callback=initMap" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2ibBiDfKVNgRBjNIg23Sw7MeuJXQp2v4&callback=initMap" type="text/javascript" async></script>
  <script type="text/javascript">
  //Types of map
  var l=["satellite","terrain","roadmap"];
  var o=0;

//CHANGING MAP TYPE on button click
function buttonClick(){
document.querySelector(".satellite").addEventListener("click",function(){
o=this.id;
initMap();
})
document.querySelector(".terrain").addEventListener("click",function(){
o=this.id;
initMap();
})
document.querySelector(".roadmap").addEventListener("click",function(){
o=this.id;
initMap();
})
}
alertSystem();
//=============================Alert Music System===========================================
function alertSystem(){
var t=<%=alert%>
if(t===1){
document.querySelector(".alert").style.backgroundColor= "#cc561e";

}
else{
  alert("No criminal cases nearby found");
}
}

// alertSystem();








// ================getDistanceBetweenPoliceAndVictim===============
function getDistanceBetweenPoliceAndVictim(){
document.querySelector(".police_button").addEventListener("click",function(){
      if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
              var positionInfo = "Your current position is (" + "Latitude: " + position.coords.latitude + ", " + "Longitude: " + position.coords.longitude + ")";
var a=position.coords.latitude;
var b=position.coords.longitude;

//===========calculating distance between victim and nearest police station
var k=<%=vicitm_lat%>;
var l=<%=vicitm_lng%>;

  var rad = function(x) {
	  return x * Math.PI / 180;
	};
	  var R = 6378137; // Earth’s mean radius in meter
	  var dLat = rad(k-a);
	  var dLong = rad(l - b);
	  var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
	    Math.cos(rad(a)) * Math.cos(rad(k)) *
	    Math.sin(dLong / 2) * Math.sin(dLong / 2);
	  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
	  var d = parseInt(R * c);

document.querySelector(".loco").innerHTML="The distance between victim and nearby police station is "+d+" meters";
          });
      } else {
          alert("Sorry, your browser does not support HTML5 geolocation.");
      }
})
}
getDistanceBetweenPoliceAndVictim();

// ============MAP FUNCTIONS============
    function initMap() {
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: <%=zoom%>,
        mapTypeId: l[o],
        center: {
          lat: <%=lat%> , //victims current location BY EJS
          lng: <%=lng%>//victims current location BY EJS
        },

      });
      const labels = "A";

      const markers = locations.map((location, i) => {
        return new google.maps.Marker({
          position: location,
          label: labels[i % labels.length],
        });
      });
      new MarkerClusterer(map, markers, {
        imagePath:

          "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m",
      });

      var flightPlanCoordinates = [{
          lat: <%=start_lat%> , //victims current location BY EJS
          lng: <%=start_lng%>  //victims current location BY EJS

        },
        {
          lat: <%=end_lat%> , //victims current location BY EJS
          lng: <%=end_lng%> //victims current location BY EJS
        },
      ];


      const flightPath = new google.maps.Polyline({
        path: flightPlanCoordinates,
        geodesic: true,
        strokeColor: "#fd8c04",
        strokeOpacity: 2.0,
        strokeWeight: 5,
      });
      flightPath.setMap(map);
    }
    const locations = [{
      lat: <%=lat_c%> ,
      lng: <%=lng_c%>

    }, ];
  buttonClick();
  </script>

</body>

</html>
